*.class

# Package Files #
*.jar
*.war
*.ear
*.orig
*.iml
.idea/*
target/*
/nbproject/
nb-configuration.xml
/annotation-tools/target/
/java-vogon/target/
/java-vogon/nbproject/
/annotation-tools-nb-layer/target/
